@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
 font-family: "Noto Serif", serif;
}

p 
 {
    font-family: cursive;
 font-weight: 300;
}

 .my-font{
    font-family: cursive;
 font-weight: 600;
}
 

/* Mobile Hamberger animation */
.slideIn {
    
     opacity: 1; 
      animation: slideIn 0.5s forwards;
}

.slideOut{
    opacity: 0; 
      animation: slideOut 0.5s backwards;
}
 /* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */


@keyframes slideIn {
    0% {
        transform: translateY(-100%); /* Start above the viewport */
        opacity: 0; /* Invisible */
    }
    100% {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0); /* Start at original position */
        opacity: 1; /* Fully visible */
    }
    100% {
        transform: translateY(-100%); /* Move above the viewport */
        opacity: 0; /* Invisible */
    }
}


ul.mobile-menu li  {
margin: 6px !important;
padding: 10px
}


.about-us-container{
background-image: url("./assets/section-2-ng.png");
 
 
 background-repeat: no-repeat;
}

@media(max-width:700px){
.about-us-container{
     background-size: 100% 100%;
 background-repeat: no-repeat;
}
}


.our-classes-section{
   background-image: url('./assets//section-3-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.classes-cards{
  background-image: url('./assets/classes-card-bg.png');
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
}


 
.card-1{
  background-image: url('./assets/gal1.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.card-2{
  background-image: url('./assets/gal2.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-3{
  background-image: url('./assets/gal3.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-4{
  background-image: url('./assets/gal4.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-5{
  background-image: url('./assets/gal5.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-6{
  background-image: url('./assets/gal6.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-7{
  background-image: url('./assets/gal7.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
} 
 

.gallry-bg {
 background-image: url('./assets/section-2-ng.png');
   
    background-repeat: no-repeat;
    background-position: top;
}

.kids-activity-section{
   background-image: url('./assets/kids-activity-section.png');
   background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


.choose-us-section::before{
content: "";
    position: absolute;
    height: 50%;
    width: 20%;
    top: 78px;
    left: 15px;
    background-image: url(/src/assets/books.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: center;
     

}
.choose-us-section::after{
content: "";
    position: absolute;
    height: 46%;
    width: 11%;
    bottom: 1px;
    right: 80px;
    background-image: url(/src/assets/shape1.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: right;

}

.choose-us-section::after,
.choose-us-section::before{
opacity: 0.7;
}
@media(max-width : 700px){
.choose-us-section::after,
.choose-us-section::before{
opacity: 0.4;
}
.choose-us-section::before{
   height: 50%;
        width: 64%;
        top: 78px;
        left: 42px;
}
.choose-us-section::after{
   height: 43%;
    width: 44%;
    bottom: -62px;
    right: 120px;
}
}

   

.event-section{
  background-image: url('./assets/event-section-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
     
}
.event-section  h2 {
     background-image: url('./assets/section-2-ng.png');
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.events-inside-card{
  background-image: url('./assets/classes-card-bg.png');
  background-color: white;
 border-radius: 30px;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}



.FAQ-section::before{
content: "";
    position: absolute;
    height: 50%;
    width: 20%;
    top: -70px;
    left: 15px;
    background-image: url('/src/assets/book-and-hat.png');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: center;
     

}
.FAQ-section::after{
content: "";
    position: absolute;
        height: 12%;
    width: 11%;
    top: 75px;
    right: 60px;
     
    background-image: url('/src/assets/sun.png');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: right;
    transform: translateX(-50%);
    animation: rotate 20s linear infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media(max-width:650px){
.FAQ-section::after {
 
           height: 7%;
        width: 15%;
        top: -30px;
        right: 78px;
    
}

.FAQ-section::before {
 
           height: 7%;
        width: 26%;
        top: -30px;
        right: 78px;
    
}
 
}


.reviews-section{
  background-image: url('./assets/reviews-section-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
     
}


.news-letter-section .form-section{
  background-image: url('./assets/news-latter-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
     
}


 
.contact-section::before{
   content: "";
    position: absolute;
    height: 50%;
    width: 20%;
    top: 78px;
    left: 15px;
    background-image: url("/src/assets/books.png");
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: center;
     
}

.contact-section::after{
   content: "";
    position: absolute;
    height: 46%;
    width: 11%;
    bottom: 1px;
    right: 80px;
    background-image: url("/src/assets/shape1.png");
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    background-position: right;
     
}


.footer-section{
     background-image: url('./assets/footer-section-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
} 

.hero-banner-internal-pages{
      background-image: url('./assets/internal-banner-pages-image.png');
   background-size: cover;
    background-repeat: no-repeat;
    
}

@media(max-width:500px){
.hero-banner-internal-pages{
      background-image: url('./assets/internal-pages-banner-mobile.png');
   background-size: cover;
    background-repeat: no-repeat;
            background-position: bottom;
    
}
}
 

 