@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
 font-family: "Noto Serif", serif;
}

p 
 {
    font-family: cursive;
 font-weight: 300;
}

 .my-font{
    font-family: cursive;
 font-weight: 600;
}
 

/* Mobile Hamberger animation */
.slideIn {
    
     opacity: 1; 
      animation: slideIn 0.5s forwards;
}

.slideOut{
    opacity: 0; 
      animation: slideOut 0.5s backwards;
}
 /* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */


@keyframes slideIn {
    0% {
        transform: translateY(-100%); /* Start above the viewport */
        opacity: 0; /* Invisible */
    }
    100% {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0); /* Start at original position */
        opacity: 1; /* Fully visible */
    }
    100% {
        transform: translateY(-100%); /* Move above the viewport */
        opacity: 0; /* Invisible */
    }
}


ul.mobile-menu li  {
margin: 6px !important;
padding: 10px
}


.about-us-container{
background-image: url("./assets/section-2-ng.png");
 
 
 background-repeat: no-repeat;
}

@media(max-width:700px){
.about-us-container{
     background-size: 100% 100%;
 background-repeat: no-repeat;
}
}


.our-classes-section{
   background-image: url('./assets//section-3-bg.png');
   background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.classes-cards{
  background-image: url('./assets/classes-card-bg.png');
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
}


 
.card-1{
  background-image: url('./assets/gal1.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.card-2{
  background-image: url('./assets/gal2.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-3{
  background-image: url('./assets/gal3.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-4{
  background-image: url('./assets/gal4.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-5{
  background-image: url('./assets/gal5.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-6{
  background-image: url('./assets/gal6.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
}
.card-7{
  background-image: url('./assets/gal7.png');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 100%;
} 
 

.gallry-bg {
 background-image: url('./assets/section-2-ng.png');
   
    background-repeat: no-repeat;
    background-position: top;
}

.kids-activity-section{
   background-image: url('./assets/kids-activity-section.png');
   background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
 